
 #onglets{

    font :  25px Batang, Calibri , sans-serif;
	
	
    list-style-type : none;

    padding-bottom : 45px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */

    border-bottom : 2px solid #444C4B;

  
	

}


#onglets li{

    float : left;/*permet de placer les onglets les uns a coté des autres*/

    height : 40px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */

    background-color: #444C4B;
    

    margin : 4px 4px 0 4px !important;  /* Pour les navigateurs autre que IE */
	

   

    border : 1px solid #9EA0A1;
	
}




#onglets li.active{

    border-bottom: 1px solid #fff;

    background-color: #444C4B;
	
	color: #00FE08;
	

}

#onglets a{

    display : block;

    color : #F0FFFF;

    text-decoration : none; /*enleve le trait sous l'onglet actif*/

    padding : 4px;

}


#onglets a:hover{

    background : #A5AFA6;

}


input.champs {
height: 30px; /* Hauteur des champs */
width: 270px; /* Longueur des champs */
border: 1; /* Epaisseur de la bordure s'il y a lieu */
border-color: #444C4B; /* Couleur de la bordure s'il y a lieu */
background: #ffffff; /* Couleur du fond du champ */
font-family: 15px Batang, Calibri , sans-serif; /* Police utilisé pour les champs remplis par l'utilisateur */
font-size: 20px; /* Taille de la police */
color:#444C4B; /* Couleur de la police */
text-align: center ;
}

#page{
	text-align: center ;
	font :  20px Batang, Calibri , sans-serif, bold;
	color: black;
	font-size: 20;
	border: 1px solid #444C4B ;
	width: 840px ;
	margin: 0 auto ;
}

 #fond{
	
	 background-color: #A9A9A9;
	margin: 10px 0 ;
	padding: 0 ;
	
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	
 }